<div class="feature-text-block with-absolute-image">
    <div class="section-title-two mb-20">
        <span class="title-tag">CORE FEATURES</span>
        <h2 class="title">Get More Good Experience.</h2>
    </div>
    <p class="big-text mb-30"> Our knowledge of computers will help us </p>
    <p>
        Does any industry face a more complex audience journey and marketing sales process than B2B
        technology? Consider the number of people who influence a sale, the length of the
        decision-making cycle, the competing interests of the people who purchase, implement,
        manage, and use the technology. It’s a lot meaningful content here.
    </p>
    <ul class="feature-btn mt-30">
        <li>
            <a routerLink="/about" class="main-btn">Learn More</a>
        </li>
        <li>
            <a routerLink="/about" class="main-btn main-btn-2"><i class="fal fa-video"></i> Intro Video</a>
        </li>
    </ul>
    <div class="absolute-img wow fadeInLeft" data-wow-delay="0.3s" [style.background-image]="'url(assets/img/features-thumb.jpg)'"></div>
</div>