<section class="whu-section section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 order-lg-2 col-md-9">
                <div class="tile-gallery-two">
                    <div class="img-one wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="assets/img/images/Solar Battery Charging.png" alt="img">
                    </div>
                    <div class="img-two text-right wow fadeInUp" data-wow-delay="0.4s">
                        <img src="assets/img/images/charger.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 col-md-10">
                <div class="mt-md-gap-60">
                    <div class="section-title mb-50 wow fadeInUp" data-wow-delay="0.3s">
                        <span class="title-tag">Who we are</span>
                        <h2 class="title">Why Choose Us</h2>
                    </div>
                    <ul class="feature-list">
                        <li class="wow fadeInUp" data-wow-delay="0.5s">
                            <h4>EV Charging Solutions</h4>
                            <p>Providing EV Infrastructure in Tier II & Tier III Cities and rural area.
                            </p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.6s">
                            <h4>Banking Solutions</h4>
                            <p>We can also offer you reliable Banking solutions.
                            </p>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.7s">
                            <h4>TeleMedecine Solutions</h4>
                            <p>Providing Telemedicine Service at your door step.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>